extend ./layout
block content
	header.site-head.landing(style="background-image: url('/images/skylineblur2.jpg');")
		nav.landing-nav
				a(href='/') About Us 
				a(href='http://blog.getlatch.com/') Blog
			.vertical
				.inner
					a.blog-logo(href='/')
						img(src='/images/logo3.png', alt='Latch Logo')
					//- h1.blog-title Latch
					h2.blog-description Multi-family residences go keyless.

					.signup-blurb Signup to learn more:
					form.input-container
						input#emailaddress(placeholder="email address", type="email")
						a.btn.btn-primary#submitEmail
							span.glyphicon.glyphicon-chevron-right
					script(type="text/javascript")
						$(function(){
							$('body').delegate('#submitEmail','click',function(e){
								e.preventDefault();
								var emailaddress = $('#emailaddress').val();
								$.ajax({
									method:'post',
									url:'/email',
									data:{email:emailaddress},
									success:function(){
										console.log('success');
									}
									})
								})
						})
