extend ./layout
block appendScripts
	script(type="text/javascript" src="/scripts/submitter.js")
block content
	header.site-head.landing(style="background-image: url('/images/skylineblur3.jpg');")
		.overlay
		//- nav.landing-nav
				a.active(href="/") Home
				a(href='/aboutus') About Us 
				a(href='http://blog.getlatch.com/') Blog
		.vertical
				.inner
					.blog-logo
						img(src='/images/latchLogoTeal2.png', alt='Latch Logo', style="opacity:0.7;")
					//- h1.blog-title Latch
					h2.blog-description
						img(src='/images/sshh.png', alt='sshh' style="height:5rem;position:absolute;left:-5rem;")
						strong Sshh! 
						| We're staying stealthy for now.

					p.signup-blurb.larger
						| Latch builds products for where the internet of things meets the enterprise. We’re focused on delivering contextually-based access awareness and control products for leading customers around the world.

					p.signup-blurb
						img(src="/images/mailIcon.png", style="height:1.5rem; margin-right:1rem;" )
						| We’re always excited to chat. Drop us a line 
						a(href="mailto:contact@getlatch.com?Subject=Latch" target="_top") contact@getlatch.com
					//- form.input-container
					//- 	input#emailaddress(placeholder="email address", type="email")
					//- 	a.btn.btn-primary#submitEmail
					//- 		span.glyphicon.glyphicon-chevron-right
					//- .alert.alert-info#thanksBro(style="display:none;width:20rem;margin-left:auto;margin-right:auto;background:rgba(150,150,150,0.5);color:rgb(220,220,220);border:none;")
					//- 	| Thanks!
						