/*
 * Import nib
 */
.inner {
  max-width: 480px;
}
.blog-logo {
  margin-bottom: 4rem;
}
.signup-blurb {
  line-height: 2.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
}
.signup-blurb a {
  font-weight: 800;
  color: #fff;
}
.signup-blurb.larger {
  font-size: 1.7rem;
  text-align: left;
}
div {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.input-container input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 50;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 4px;
  margin: 0;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  border: 1px solid #bbb;
}
.input-container .btn {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 30px;
  padding-top: 4px;
}
.overlay {
  top: 30%;
  height: 70%;
  width: 100%;
  position: absolute;
  background: -moz--webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -moz--moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -moz--o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -moz--ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(71%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0.7)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(71%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0.7)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(71%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0.7)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(71%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0.7)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(71%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0.7)));
/* Chrome,Safari4+ */
  background: -webkit--webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -webkit--moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -webkit--o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -webkit--ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
/* Chrome10+,Safari5.1+ */
  background: -o--webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -o--moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -o--o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -o--ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -o-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
/* Opera 11.10+ */
  background: -ms--webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -ms--moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -ms--o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -ms--ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -ms-linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
/* IE10+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 71%, rgba(0,0,0,0.7) 100%);
/* W3C */
}
