/*
 * Import nib
 */
@import 'nib'

.signup-blurb
	font-size:1.4rem;
	font-family:'Montserrat', sans-serif
	font-weight:200

.input-container

	input

		//font-family:'Montserrat', sans-serif
		border-top-right-radius:0;
		border-bottom-right-radius:0;
		z-index:50

		 -webkit-appearance: none; -moz-appearance: none;
		 padding-left:4px;
		  margin: 0;
		  width: auto; 
		  height: 30px;
		  line-height: 30px; font-size: 16px;
		  border: 1px solid #bbb;
	.btn
		margin-left:-0
		border-top-left-radius:0;
		border-bottom-left-radius:0;
		height:30px;
		padding-top:4px;

.overlay
	height:100%
	width:100%
	opacity:0.4
	position:absolute
	top:0
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.54, #46FFB2),color-stop(1, #29F894));
	background-image: -o-linear-gradient(bottom, #46FFB2 54%, #29F894 100%);
	background-image: -moz-linear-gradient(bottom, #46FFB2 54%, #29F894 100%);
	background-image: -webkit-linear-gradient(bottom, #46FFB2 54%, #29F894 100%);
	background-image: -ms-linear-gradient(bottom, #46FFB2 54%, #29F894 100%);
	background-image: linear-gradient(to bottom, #46FFB2 54%, #29F894 100%);