/*
 * Import nib
 */
@import 'nib'

#tempload
	

	z-index:6
	width:640px
	height:360px
h1
	font-size:65px;
	color:white;
h2
	color:white
	letter-spacing:6.5
.d3-slider-handle, .d3-slider
	cursor:pointer
.forScroll
	min-height:100%;
	display:none;
	.scrollpoint
		height:3%
		border:black
.forScroll.last
	height:100%