/*
 * Import nib
 */
.signup-blurb {
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
div {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.input-container input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 50;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 4px;
  margin: 0;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  border: 1px solid #bbb;
}
.input-container .btn {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 30px;
  padding-top: 4px;
}
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  position: absolute;
  top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.54, #46ffb2), color-stop(1, #29f894));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.54, #46ffb2), color-stop(1, #29f894));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.54, #46ffb2), color-stop(1, #29f894));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.54, #46ffb2), color-stop(1, #29f894));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.54, #46ffb2), color-stop(1, #29f894));
  background-image: -o--webkit-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -o--moz-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -o--o-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -o--ms-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -o-linear-gradient(to top, #46ffb2 54%, #29f894 100%);
  background-image: -moz--webkit-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -moz--moz-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -moz--o-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -moz--ms-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -moz-linear-gradient(to top, #46ffb2 54%, #29f894 100%);
  background-image: -webkit--webkit-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -webkit--moz-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -webkit--o-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -webkit--ms-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -webkit-linear-gradient(to top, #46ffb2 54%, #29f894 100%);
  background-image: -ms--webkit-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -ms--moz-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -ms--o-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -ms--ms-linear-gradient(bottom, #46ffb2 54%, #29f894 100%);
  background-image: -ms-linear-gradient(to top, #46ffb2 54%, #29f894 100%);
  background-image: -webkit-linear-gradient(top, #46ffb2 54%, #29f894 100%);
  background-image: -moz-linear-gradient(top, #46ffb2 54%, #29f894 100%);
  background-image: -o-linear-gradient(top, #46ffb2 54%, #29f894 100%);
  background-image: -ms-linear-gradient(top, #46ffb2 54%, #29f894 100%);
  background-image: linear-gradient(to bottom, #46ffb2 54%, #29f894 100%);
}
