/*
 * Import nib
 */
#tempload {
  z-index: 6;
  width: 640px;
  height: 360px;
}
h1 {
  font-size: 65px;
  color: #fff;
}
h2 {
  color: #fff;
  letter-spacing: 6.5;
}
.d3-slider-handle,
.d3-slider {
  cursor: pointer;
}
.forScroll {
  min-height: 100%;
  display: none;
}
.forScroll .scrollpoint {
  height: 3%;
  border: 1px solid #000;
}
.forScroll.last {
  height: 100%;
}
